<!DOCTYPE html>
<html lang="en">

{{> header}}

<body>
{{> menu}}
<div id="message_container">
    <hr>
    <ul class="message_list">
        {{#each topic}}
            <li>
                <a href="/genre_board/{{genre}}">
                    <div style="position: relative; color: white; width: 300px; height: 175px; float: left">
                        <img src="/images/{{genre}}.png" alt="{{name}}" style="width:100%">
                        <div style="position: absolute; top: 8px; left: 16px">{{name}}</div>
                    </div>
                </a>
            </li>
        {{/each}}
    </ul>
</div>
</body>

{{> footer}}

</html>