<!DOCTYPE html>
<html lang="en">

{{> header}}

<body>
{{> menu}}
<div id="message_container">
    <hr>
    <ul class="message_list">
        {{#each topic}}
            <li>
                <button onclick="window.location.href='/{{genre}}'">{{name}}</button>
            <hr></li>
        {{/each}}
    </ul>
</div>
</body>

{{> footer}}

</html>