<!DOCTYPE html>
<html lang="en">

{{> header}}
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.min.css'>
<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">

<body>
    {{> menu}} 
    <form method="post" action="/saveUser" id="registration_form">
        <div class="form_container">
            <h1>{{{heading}}}</h1>
            <hr>

            <label for="email"><b>Email</b></label>
            <input type="email" placeholder="example@email.com" name="email" required>

            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="username" name="username" required>

            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="password" name="password" id="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>

            <div id="pswmessage" class="pass-style" style="padding-top: 10px; padding-bottom: 10px; margin: 5px 0 22px;">
                <p style="margin: 0; padding-left: 0">Password must contain the following:</p>
                <p id="letter" class="invalid pass-style">A <b>lowercase</b> letter</p>
                <p id="capital" class="invalid pass-style">A <b>capital (uppercase)</b> letter</p>
                <p id="number" class="invalid pass-style">A <b>number</b></p>
                <p id="length" class="invalid pass-style">Minimum <b>8 characters</b></p>
            </div>
            
            <label for="password"><b>Confirm Password</b></label>
            <input type="password" placeholder="password" name="r_password" id="r_password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
            
            <span id='pwd_message'></span><br>

            <input type="submit" class="btn btn-dark" value="Sign-up" id="form_submit" disabled>
        </div>
    </form>


</body>
<script src="js/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
</html>
